.sliderPlayers.swiper-container
    .swiper-wrapper
        .swiper-slide
            +player2({
                title: "Информационные",
                subtitle: "Один диктор",
                price: "2 977",
                url: 'player.mp3',
                playlist: 'create-clip'
            })
        .swiper-slide
            +player2({
                title: "Информационные длинное название",
                subtitle: "Один диктор",
                price: "2 977",
                url: 'player.mp3',
                playlist: 'create-clip'
            })
        .swiper-slide
            +player2({
                title: "Информационные",
                subtitle: "Один диктор",
                price: "2 977",
                url: 'player.mp3',
                playlist: 'create-clip'
            })
    .swiper-navigation
        .swiper-button-next
        .swiper-button-prev