.b-calc
  .b-calc__wrapper
    .container.b-calc__inner
      .b-calc__left
        .b-calc__left-inner
          h1.b-calc__title
            | Реклама на радио 
            span.text-red UNISTAR
          .b-calc__bottom
            div
              | Вас услышат
              |
              span 3 934 545
              |
              | человек
            .button.button-red скачать презентацию
      .b-calc__content
          include ./calc-form
          .calc-form-order
            .calc-form-order__discount -15%
            .calc-form-order__oldprice
              span 2 977 BYN
            .calc-form-order__newprice
              | 2 739
              span BYN
            .button.button-blue отправить заявку
            .button.button-gray сохранить расчёт