header.header
  .container.header__inner
    .header__wrapper
      .header__left
        .header__top
          .hamburger.hamburger--slider
            .hamburger-box
              .hamburger-inner
          .logo
            svg: use(xlink:href="#logo")
          .header__right
            div
              .work-dates
                svg(width=16 height=16): use(xlink:href="#clock")
                span пн-чт
                | 10:00 - 18:00
                span пт
                | 10:00 - 17:00
              .b-mail
                svg(width=19 height=13): use(xlink:href="#mail")
                a(href="mailto:reklama@unistar.by") reklama@unistar.by
            div
              .header__phone
                svg(width=15 height=15): use(xlink:href="#phone")
                a(href="tel:+375172095383") +375 17 209-53-83
              .button.button-blue.header__submit ЗАКАЗАТЬ ЗВОНОК
        nav.nav-main
          each item in navItems
            a(href="#"+item.replace(' ', '-'))= item
      .header__side
        .header__phone
          svg(width=15 height=15): use(xlink:href="#phone")
          a(href="tel:+375172095383") +375 17 209-53-83
        .button.button-blue.header__submit ЗАКАЗАТЬ ЗВОНОК

.container
  .list-channels.swiper-container.slider-group
    .list-channels__inner.swiper-wrapper
      each item in cities
        .swiper-slide= item
