extends ../layouts/default.pug

block content
  .container
    .h2 buttons

    .button Button Default
    .button.button-blue Button blue
    .button.button-red Button red
    .button.button-gray Button gray
    .button.button-border-red Button border red

    br
    br


    +player({title: 'Примеры партнерства игровой рубрики', url: 'player.mp3'})
    +player({title: 'Error', url: 'player1.mp3'})

    br
    br

    div.blue-bg.padder
      form
        .h2 form elements
        .form-group
          input.form-control(placeholder='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aliquam aspernatur cumque deserunt ea, exercitationem incidunt ')
        .form-group
          - var n = 0;
          select.select.form-control
            while n < 15
              option(value=n)= n++
        .form-group
          label hi
          - var n = 0;
          select.select.form-control(multiple)
            option(value="" selected disabled) This is a placeholder
            while n < 15
              option(value=n)= "="+(n++)
        .form-group
          label Продолжительность ролика?
          .b-counter-wrapper
            +counter({value: "13", type: "сек", min: 5, max: 45})
            div от 5 до 45 секунд.
          
    .h2 modals

    .button.button-blue(data-modal="brif") brif
    br
    br
    .button.button-blue(data-modal="clip") clip
    br
    br
    .button.button-blue(data-modal="mediaplan") mediaplan
    br
    br
    .button.button-blue(data-modal="requestcall") requestcall
    br
    br
    .button.button-blue(data-modal="requestok") requestok
    br
    br
    .button.button-blue(data-modal="step1") step1
    br
    br
    .button.button-blue(data-modal="step2") step2
    br
    br
    .button.button-blue(data-modal="step3") step3
    br
    br
    .button.button-blue(data-modal="step4") step4
    br
    br
    .button.button-blue(data-modal="notsuitable") notsuitable
    br
    br
    .button.button-blue(data-modal="notsuitable") notsuitable
    br
    br

