.overlay(data-dismiss="popup")
.popup-mobile
    .popup-mobile__close(data-dismiss="popup")
    .popup-mobile__top
        nav.nav-mobile
            each item in navItems
                a(href="#" + item.replace(' ', '-'))= item
    .popup-mobile__bottom
        a.popup-mobile__phone(href="tel:+375172095383") +375 17 209-53-83
        a.popup-mobile__mail(href="mailto:reklama@unistar.by") reklama@unistar.by
        .popup-mobile-worktime
            .popup-mobile-worktime__item
                span 10:00 - 18:00
                | ПН-ЧТ
            .popup-mobile-worktime__item
                span 10:00 - 17:00
                | ПТ
        .popup-mobile__submit.button.button-red Заказать звонок
        .popup-mobile-channels
            .popup-mobile-channels__title НАШИ ЧАСТОТЫ
            .popup-mobile-channels__list
                each item in ["МИНСК", "Барановичи", "МОГИЛЁВ", "МИНСК", "Барановичи", "МОГИЛЁВ"]
                    .popup-mobile-channels__listItem
                        =item
                        span 99.5 FM
