.modal-title Заказать звонок
p.b-form-ok
    | Ваша заявка отправлена. 
    br
    | Ожидайте, вскоре наш менеджер свяжется с Вами!

.modal-footer
  button.button.button-red(type="submit" data-dismiss="modal") Закрыть