#popup-bottom-pc.modal-content

  .popup-bottom-pc
    .popup-bottom-pc__title Почему важно <br> рекламироваться сейчас?
    ul.popup-bottom-pc__list.list-star
      li Большинство ваших конкурентов снизило активность, поэтому ваша реклама станет заметнее.
      li Без рекламы вы потеряете до 39% узнаваемости бренда.
      li Люди больше доверяют тем, кто рекламируется в кризис.
      li Вам понадобится в два раза больше денег, чтобы потом отыграть свою долю рынка.
    .popup-bottom-pc__bottom
      | Оригинал статьи:
      |
      a(target="_blank" href="http://meduza.io/feature/2020/04/03/esli-mozhesh-reklamiruysya") meduza.io/feature/2020/04/03/esli-mozhesh-reklamiruysya
