.player
  .container.player__inner
    .player__error
    .player__track
        audio.player-audio(preload)
        .player__play
        .player__time-scrubber
          span.player__time.player__time_played 00:00
          .player__scrubber
            .player__progress
            .player__loaded
            .player__error
          span.player__time.player__time_duration 00:00
    .player__side
      .player__buttons
        .player__button.player__button_prev(data-player="prev")
        .player__button.player__button_next(data-player="next")
        .player__button.player__button_refresh(data-player="refresh")
    .player__title
    .player__close.js-player-stop
