include ./variables
include ./mixins


doctype html
html(lang=ru)
  head
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1.0" name="viewport")
    meta(content="ie=edge" http-equiv="X-UA-Compatible")
    link(href="main.css" preload="" rel="stylesheet")
    title Unistar Reklama
    meta(name="description" content="Реклама на Радио Юнистар")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tabby/12.0.1/js/tabby.min.js')
    //- link(href='https://fonts.googleapis.com/css?family=Exo+2:400,700,800i&display=swap&subset=cyrillic' rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Exo+2:400,400i,700,700i,800,800i&display=swap&subset=cyrillic" rel="stylesheet")
    link(rel="icon" href="favicon.ico" type="image/x-icon")

    link(rel="image_src" href="./images/logo.jpg")
    meta(property="og:image" content="./images/logo.jpg")

  body#home
    include ./partials/header

    block content

    include ../components/popup-mobile/popup-mobile


    include ./../components/player/player
    include ./partials/footer


    include ../components/popup-bottom-mobile/index
    include ../components/modal-bottom-pc/modal-bottom-pc

    include ./../components/modalBrif/modalBrif
    include ./../components/modalClip/modalClip
    include ./../components/modalMediaPlan/modalMediaPlan
    include ./../components/modalRequestCall/modalRequestCall
    include ./../components/modalRequestOk/modalRequestOk
    include ./../components/modalSteps/step1/step
    include ./../components/modalSteps/step2/step
    include ./../components/modalSteps/step3/step
    include ./../components/modalSteps/step4/step

    script(src="main.js")
