- var navItems = ["Калькулятор", "Школа рекламы", "Запись ролика", "Кейсы", "Контакты"];
- var cities = ["Минск 99,5 FM", "Брест 102,3 FM", "Гомель 99,8 FM", "Могилев 90,0 FM", "Барановичи 88,9 FM", "Береза 107,0 FM", "Бобруйск 90,2 FM", "Мядель 94,8 FM", "Солигорск 99,2 FM"];
