.b-calc
    margin-bottom: 73px
    color: #fff
    overflow: hidden
    background: #28348a url(../images/calc-bg.png) left center no-repeat
    background-size: auto 101%
    +sm-block
        margin-bottom: 30px
        background-image: none
    label
        color: inherit
    &__wrapper
        max-width: 1920px
        margin: 0 auto
        position: relative
        +md-block
            padding-left: 20px
            padding-right: 20px
        +sm-block
            padding-bottom: 26px
            padding-left: 0
            padding-right: 0
        +to(440px)
    &__inner
        display: flex
        min-height: 581px
        position: relative
        z-index: 1
        padding-top: 57px
        +md-block
            display: block
        +sm-block
            padding-top: 0
    &__left
        position: relative
        flex: none
        display: flex
        flex-direction: column
        width: 279px
        margin-right: 150px
        padding-bottom: 66px
        +xl-block
            margin-right: 90px
        +lg-block
            margin-right: 0
        +md-block
            width: auto
        +sm-block
            margin: 0 ($fields_sm*-1) 0
            padding: 26px ($fields_sm*2) 0
        +xs-block
            padding-left: $fields_sm
            padding-right: $fields_sm
    &__left-inner
        position: relative
        display: flex
        flex-direction: column
        flex: 1
    &__content
        flex: 1
    &__title
        font-size: 48px
        line-height: 50px
        text-transform: uppercase
        color: #fff
        font-weight: 900
        span
            display: block
        +sm-block
            display: none
    &__bottom
        margin-top: auto
        font-size: 26px
        font-weight: 700
        line-height: 37px
        text-transform: uppercase
        +md-block
            display: flex
            align-items: center
            justify-content: space-between
        +sm-block
            text-transform: none
            flex-direction: column
            justify-content: center
            font-size: 16px
            font-weight: 600
            line-height: normal
        .text
            +from($break_sm_up)
                &>span
                    display: flex
                    flex-direction: column
                    align-items: flex-start
        .nums
            display: block
            color: $red-color
            font-size: 45px
            line-height: 45px
            font-weight: 900
            +sm-block
                display: inline-block
                font-size: inherit
                margin: 0 4px
                font-weight: 600
                line-height: normal
                &::before
                    left: -100px
            &:hover + .text-hover
                opacity: 1
        .text-hover
            font-size: 14px
            margin-top: 10px
            line-height: normal
            font-weight: 400
            opacity: 0
        .button
            margin-top: 26px
            +md-block
                //+button-md
                margin-top: 0
            +sm-block
                margin-top: 11px
            +xs-block
                +button-block

.form-calculator
    display: flex
    justify-content: space-between
    +sm-block
        display: block
        padding-left: $fields_sm
        padding-right: $fields_sm
    +xs-block
        padding-left: 0
        padding-right: 0