.b-calc
    margin-bottom: 73px
    color: #fff
    background: #28348A
    overflow: hidden
    background: #28348a url(../images/calc-bg.png) left center no-repeat
    background-size: auto 101%
    +to(1920px)
        background-position: -200px center
    +xl
        // background-position: left center
    +sm
        margin-bottom: 40px
        background: none
    label
        color: inherit
    &__wrapper
        max-width: 1920px
        margin: 0 auto
        position: relative
        +md
            padding-left: 20px
            padding-right: 20px
        +sm
            padding-bottom: 40px
        +to(440px)
            padding-left: 0
            padding-right: 0
    &__inner
        display: flex
        min-height: 581px
        position: relative
        z-index: 1
        padding-top: 57px
        +md
            display: block
        +sm
            padding-top: 0
    &__left
        position: relative
        flex: none
        display: flex
        flex-direction: column
        width: 279px
        margin-right: 150px
        padding-bottom: 66px
        +xl
            margin-right: 90px
        +lg
            margin-right: 0
        +md
            width: auto
        +sm
            margin-left: $fields_sm*-1
            margin-right: $fields_sm*-1
            margin-bottom: 30px
            padding-top: 30px
            padding-bottom: 40px
            padding-left: $fields_sm
            padding-right: $fields_sm
            background: url(../images/calc-bg.jpg) 0 0 no-repeat
            background-size: cover
            &::before
                content: ''
                opacity: 0.6
                position: absolute
                width: 100%
                height: 100%
                left: 0
                top: 0
                background-image: linear-gradient(185deg, #253786 0%, #682582 100%)
    &__left-inner
        position: relative
    &__content
        flex: 1
        display: flex
        justify-content: space-between
        +sm
            display: block
    &__title
        font-size: 48px
        line-height: 50px
        text-transform: uppercase
        color: #fff
        font-weight: 900
        +sm
            font-size: 30px
            line-height: normal
    &__bottom
        margin-top: auto
        font-size: 26px
        font-weight: 700
        line-height: 37px
        text-transform: uppercase
        +md
            display: flex
            align-items: center
            justify-content: space-between
        +sm
            display: block
            font-size: 16px
            line-height: normal
        .nums
            display: block
            color: $red-color
            font-size: 45px
            line-height: 45px
            +sm
                display: inline-block
                font-size: 22px
                margin: 0 10px
                line-height: normal
            &:hover + .text-hover
                opacity: 1
        .text-hover
            font-size: 14px
            margin-top: 10px
            line-height: normal
            font-weight: 400
            opacity: 0
        .button
            margin-top: 26px
            +md
                +button-md
                margin-top: 0
            +sm
                margin-top: 20px

