.b-player
    display: flex
    min-height: 120px
    align-items: center
    padding-left: 31px
    background-color: #f6f7fa
    padding-right: 20px
    +md-block
        min-height: 80px
    +xs-block
        min-height: 72px
        padding-left: 20px
    &__icon
        +play-icon
        margin-right: 27px
        +xs-block
            margin-right: 20px
    &__title
        font-size: 18px
        font-weight: 700
        line-height: 20px
        padding-right: 30px
        +xs-block
            padding-right: 0
            font-size: 1rem
            line-height: normal

.b-player2
    display: flex
    padding: 27px 30px 32px
    background-color: $gray-light-color
    +sm-block
        padding: 20px
    &__icon
        +play-icon
        margin-right: 29px
        +sm-block
            margin-right: 20px
    &__content

    &__title
        font-size: 18px
        font-weight: 700
        line-height: 20px
        +sm-block
            font-size: 16px
        +xs-block
            font-size: 14px
    &__subtitle
        font-size: 14px
        line-height: 20px
        margin-bottom: 18px
        +xs-block
            margin-top: -5px
            margin-bottom: 10px
    &__price
        font-size: 19px
        font-weight: 700
        line-height: 20px
        color: #db057c
        span
            display: inline-block
            margin-left: 6px
            vertical-align: text-top
            font-size: 13px
            font-weight: 400
            text-transform: uppercase

.b-player3
    $_: &
    display: flex
    padding-right: 30px
    +xs-block
        background-color: #F6F7FA
        padding: 20px
    &__icon
        +play-icon
        margin-right: 40px
        +md-block
            margin-right: 30px
        +sm-block
            margin-right: 20px
    &__content

    &__title
        font-size: 18px
        font-weight: 700
        line-height: 20px
        +sm-block
            font-size: 14px
            font-weight: 600
    &__subtitle
        font-size: 13px
        font-weight: 400
        line-height: 20px
        color: #999
        +sm-block
            font-size: 12px
