.footer
    position: relative
    margin-top: 105px
    min-height: 514px
    padding-top: 100px
    background: $blue-color url(../images/footer-bg-1-cr.png) center right no-repeat
    background-size: auto 101%
    color: #fff
    padding-bottom: 30px
    +sm-block
        margin-top: 30px
        padding-top: 30px
        background: $blue-color
    &__title
        font-size: 20px
        font-weight: 700
        line-height: 20px
        margin-bottom: 77px
        +sm-block
            +h2
            color: #fff
            margin-bottom: 20px
    &__bottom
        display: flex
        justify-content: space-between
        opacity: 0.5
        +xs-block
            display: block
        a
            color: #fff
            text-decoration: none
            &:hover
                text-decoration: underline


