.hover-tolltip {
    position: relative;
    cursor: pointer;
    z-index: 2;
    &:hover::before,
    &:hover::after {
        display: block;
    }
    &::before {
        font-size: 1rem;
        font-weight: 500;
        display: none;
        text-transform: none;
        line-height: 17px;
        content: attr(data-title);
        position: absolute;
        left: 20px;
        bottom: 100%;
        margin-bottom: 5px;
        min-width: 270px;
        min-height: 50px;
        padding: 20px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 1px 18px rgba(0, 0, 0, 0.21);
        color: hsla(0, 0, 0, .7);
    }
    &::after {
        display: none;
        position: absolute;
        content: '';
        left: 20px;
        bottom: 100%;
        margin-bottom: -5px;
        margin-left: 1px;
        border-width: 10px 15px;
        border-style: solid;
        border-color: #fff transparent transparent #fff;
    }
    @include from($break_sm+1) {
        &::before {
            left: 100%;
            bottom: 100%;
        }
        &::after {
            left: 100%;
            bottom: 100%;
        }
    }
    &--tooltip {
        &::before {
            white-space: nowrap;
            padding: 10px 20px;
            min-height: 0;
            min-width: 0;
        }
    }
}
