.title
    margin-bottom: 19px
.subtitle
    margin-bottom: 35px
    +sm-block
        margin-bottom: 17px
    &.hideme
        +sm-block
            display: none

.section-video-creates
    display: flex
    margin-bottom: 66px
    +md-block
        display: block
    &__side
        flex: none
        width: 302px
        margin-right: 118px
        +lg-block
            margin-right: 60px
        +md-block
            width: auto
            margin-right: 0
        .title
            white-space: nowrap
        .subtitle
            max-width: 240px
    &__content
        flex: 1

.player3-wrapper
    columns: 2
    +sm-block
        columns: initial
    .b-player3
        break-inside: avoid
        min-height: 100px
        &:nth-child(n+4)
            +sm-block
                display: none
        +sm-block
            min-height: auto
            margin-bottom: 20px
        +xs-block
            min-height: 60px
            margin-bottom: 6px
    .button-more
        display: none
        +sm-block
            display: flex
            margin-top: 10px
    &.active
        .b-player3
            display: flex
        .button-more
            display: none

.list-desc
    li
        display: flex
        margin-bottom: 8px
        +xs-block
            display: block
    span
        flex: none
        width: 90px
        opacity: 0.59
        +xs-block
            width: auto

.section-contact
    display: flex
    .subtitle
        +sm-block
            display: none
        +xs-block
            display: block
    +md-block
        display: block
    &__side
        flex: none
        width: 370px
        +md-block
            width: auto
        .title
        .subtitle
            max-width: 200px
            margin-bottom: 36px
    &__side-inner
        +md-block
            display: flex
            justify-content: space-between
        +sm-block
            flex-direction: column
            align-items: flex-start
        &>div:nth-child(2)
            order: +1
            +sm-block
                order: inherit
    &__content
        flex: 1
        padding-top: 76px
        +xl-block
            overflow: hidden
        +md-block
            padding-top: 20px
        +sm-block
            padding-top: 40px
            overflow: initial
    .button-submit
        +sm-block
            +button-block
            +button-lg

.b-phone
    display: block
    margin-bottom: 36px
    font-size: 28px
    font-weight: 700
    line-height: 30px
    white-space: nowrap
    color: #000
    &:hover
        color: $link-color
    +sm-block
        margin-bottom: 20px

.time-work
    margin-bottom: 25px
    padding-left: 34px
    background: url(../images/clock.svg) 0 3px no-repeat
    background-size: 15px 15px
    +sm-block
        margin-top: 30px
    &__item
        margin-bottom: 17px
        +sm-block
            margin-right: 20px
        span
            font-weight: 700
            display: block

.b-recommend
    &__title
        margin-bottom: 36px
    .b-player3
        margin-bottom: 20px

.video-wrapper
    position: relative
    padding-top: 56.25%
    &>*
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
